{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Display wines for all users -->
    <div class="container mt-4 mb-4">
        <div class="text-center">
            <h2>Our Wines</h2>
        </div>
        <div id="wineCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Left arrow -->
            <button class="carousel-control-prev" type="button" data-bs-target="#wineCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
    
            <!-- Wine carousel -->
            <div class="carousel-inner">
                {% if not wine_list %}
                    <p class="text-center">No wines available at the moment.</p>
                {% endif %}
                
                {% for wine in wine_list %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="row justify-content-center">
                        {% for bottle in wine.bottle_list %}
                        <div class="col-12 col-md-3 mb-4">
                            <div class="card">
                                <a href="{% url 'wine_detail' wine.slug %}" class="text-decoration-none">
                                    <div class="card-body text-center">
                                        <!-- Display wine rating -->
                                        <div>
                                            {% if wine.average_rating is None %}
                                                <p>No ratings</p>
                                            {% else %}
                                                <p><i class="fas fa-star"></i> {{ wine.average_rating }}</p>
                                            {% endif %}
                                        </div>
                                        
                                        <!-- Wine bottle image -->
                                        <div class="mt-2 mb-2">
                                            {% if wine.bottle_image.url == 'https://res.cloudinary.com/dmnnucsdm/image/upload/placeholder' %}
                                                <img class="img-fluid" src="{% static 'images/wine_default.jpg' %}" alt="Wine bottle" style="max-width: 100px;">
                                            {% else %}
                                                <img class="img-fluid" src="{{ wine.bottle_image.url }}" alt="{{ wine.title }}" style="max-width: 100px;">
                                            {% endif %}
                                        </div>
    
                                        <!-- Wine details -->
                                        <div>
                                            <p class="mb-1">{{ wine.title }}</p>
                                            <p class="text-muted mb-0">- {{ wine.winery }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
    
            <!-- Right arrow -->
            <button class="carousel-control-next" type="button" data-bs-target="#wineCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    
        <!-- See all wines button -->
        <div class="text-center mt-4">
            <a href="{{ home }}" class="btn btn-primary">See all wines</a>
        </div>
    </div>

    <!-- Why choose us section  -->
    <div class="container-fluid wine-banner">
        <div class="row align-items-center flex-column flex-md-row">
            <!-- Text Section -->
            <div class="col-md-6 text-center text-md-start">
                <div class="banner-text-box wine-text">
                    <h2><strong>Why Choose Crimson Wines?</strong></h2>
                    <p>At Crimson Vine Cellars we believe that great wine begins with the land. 
                        Nestled in the heart of the Adelaide Hills, our vineyard is nurtured by rich soils, abundant sunshine, 
                        and a passion for winemaking that has been passed down through generations. 
                        Every grape is handpicked with care, ensuring that only the finest make it into our bottles. 
                        From vine to glass, we craft wines that embody the spirit of our region—bold, elegant, and full of character. 
                        Whether you're enjoying a glass at sunset or celebrating life's special moments, our wines bring a touch 
                        of timeless craftsmanship to every occasion.
                    </p>               
                    <a href="{{ home }}" class="btn btn-primary">Explore Our Wines</a>
                </div>
            </div>
    
            <!-- Image Section -->
            <div class="col-md-6 text-center mt-3 mt-md-0">
                <picture>
                    <img src="{% static 'images/wine-being-poured.jpg' %}" alt="Crimson Wines Vineyard" class="banner-image img-fluid">
                </picture>
            </div>
        </div>
    </div>

    <!-- Host your event with us section  -->
    <div class="container-fluid wine-banner">
        <div class="row align-items-center flex-column flex-md-row">
             <!-- Image Section -->
             <div class="col-md-6 text-center mt-3 mt-md-0">
                <picture>
                    <img src="{% static 'images/red-wine-glasses.jpg' %}" alt="Crimson Wines Vineyard" class="banner-image img-fluid">
                </picture>
            </div>
            <!-- Text Section -->
            <div class="col-md-6 text-center text-md-start">
                <div class="banner-text-box wine-text">
                    <h2><strong>Host your next event with us</strong></h2>
                    <p>Looking for the perfect venue to host your next celebration? At Crimson Vine Cellars, 
                        our stunning vineyard and cellar offer a breath taking backdrop for weddings, 
                        corporate gatherings, and private events. Surrounded by rolling vines and rustic elegance, 
                        your guests will enjoy a truly unforgettable experience. Whether it's an intimate gathering
                         or a grand affair, our team will work with you to create the perfect atmosphere, 
                         complete with fine wines and personalized touches.
                    </p>               
                    <a href="{{ home }}" class="btn btn-primary">Contact Us</a>
                </div>
            </div>
        </div>
    </div>

    <div id="age-modal" class="modal">
        <div class="modal-content">
            <h2>Age Verification</h2>
            <p>You must be 18 years or older to enter this site. Please confirm your age.</p>
            <button id="confirm-age" class="btn btn-primary">I am 18 or older</button>
            <button id="exit-site" class="btn btn-danger">I am under 18</button>
        </div>
    </div>
    
{% endblock %}

{% block extra_js %}
<script>
    const accessDeniedUrl = "{% url 'access_denied' %}";
</script>

<script src="{% static 'home/js/age_verification.js' %}"></script>
{% endblock%}
