{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <header class="page-header text-center py-4">
        <h1>Wine List</h1>
    </header>
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row mb-4">
        <!-- Filters Section -->
        <div class="dropdown">
            <button id="dropdown-btn" class="dropdown-btn btn btn-secondary">Filter By</button>
            <div id="dropdown-content" class="dropdown-content m-3">
                <!-- Category Dropdown -->
                <div class="form-group m-3">
                    <label for="category">Category:</label>
                    <select id="category" name="category" class="form-control">
                        <option value="">All Categories</option>
                        {% for category in categories %}
                            <option value="{{ category.name }}" {% if category.name == request.GET.category %}selected{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
        
                <!-- Rating Dropdown -->
                <div class="form-group m-3">
                    <label for="rating">Rating:</label>
                    <select id="rating" name="rating" class="form-control">
                        <option value="">All Ratings</option>
                        <option value="1" {% if request.GET.rating == '1' %}selected{% endif %}>1</option>
                        <option value="2" {% if request.GET.rating == '2' %}selected{% endif %}>2</option>
                        <option value="3" {% if request.GET.rating == '3' %}selected{% endif %}>3</option>
                        <option value="4" {% if request.GET.rating == '4' %}selected{% endif %}>4</option>
                        <option value="5" {% if request.GET.rating == '5' %}selected{% endif %}>5</option>
                    </select>
                </div>
        
                <!-- Submit Button -->
                 <div class="form-group m-3">
                    <button type="submit" class="btn btn-primary me-2">Apply Filters</button>
                    <a href="{% url 'product_list' %}" class="btn btn-secondary">Clear Filters</a>
                 </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% if wines %}
            {% for wine in wines %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100 text-center p-3 wine-item">
                    <div class="card-img-container" style="position: relative; width: 100%; padding-top: 100%; overflow: hidden;">
                        {% if wine.image %}
                        <img src="{{ wine.image.url }}" alt="{{ wine.name }}" class="img-fluid" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
                        {% else %}
                        <img src="{% static 'images/unlabelled-wine-bottle.jpg' %}" alt="Default Image" class="img-fluid" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ wine.name }}</h5>
                        <p class="card-text"><strong>Category:</strong> {{ wine.category.name }}</p>
                    </div>

                    <!-- Hidden info box with button -->
                    <div class="wine-info">
                        <h5 class="card-title mb-2">{{ wine.name }}</h5>
                        <p class="card-text mb-2"><strong>Category:</strong> {{ wine.category.name }}</p>
                        <p class="card-text mb-2"><strong>Volume:</strong> {{ wine.volume }} ml</p>
                        {% if wine.rating %}
                        <p class="card-text mb-2"><strong>Rating:</strong> {{ wine.rating }}</p>
                        {% endif %}
                        <p class="card-text mb-2"><strong>Price:</strong> ${{ wine.price }}</p>
                        <a href="{% url 'product_details' wine_id=wine.id %}" class="btn btn-light">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="col-md-12">
            <p class="text-center">No wines available.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/product_list.js' %}"></script>
{% endblock %}
