{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <header class="page-header text-center py-4">
        <h1>Wine List</h1>
    </header>
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        {% if wines %}
            {% for wine in wines %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100 text-center p-3 wine-item">
                    <div class="card-img-container" style="position: relative; width: 100%; padding-top: 100%; overflow: hidden;">
                        {% if wine.image %}
                        <img src="{{ wine.image.url }}" alt="{{ wine.name }}" class="img-fluid" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
                        {% else %}
                        <img src="{% static 'images/unlabelled-wine-bottle.jpg' %}" alt="Default Image" class="img-fluid" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ wine.name }}</h5>
                        <p class="card-text"><strong>Category:</strong> {{ wine.category.name }}</p>
                    </div>

                    <!-- Hidden info box with button -->
                    <div class="wine-info">
                        <h5 class="card-title mb-2">{{ wine.name }}</h5>
                        <p class="card-text mb-2"><strong>Category:</strong> {{ wine.category.name }}</p>
                        <p class="card-text mb-2"><strong>Volume:</strong> {{ wine.volume }} ml</p>
                        {% if wine.rating %}
                        <p class="card-text mb-2"><strong>Rating:</strong> {{ wine.rating }}</p>
                        {% endif %}
                        <p class="card-text mb-2"><strong>Price:</strong> ${{ wine.price }}</p>
                        <a href="{% url 'product_details' wine_id=wine.id %}" class="btn btn-light">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="col-md-12">
            <p class="text-center">No wines available.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}