body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to fill the viewport */
}

header {
    background-color: #000000;
    color: #ffffff;
}

nav {
    margin: 0 auto;
    padding: 10px 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}


/* Wine Banner Styling */
.wine-banner {
    padding: 4rem 1rem;
    margin-bottom: 2rem;
    max-width: 1400px;
}

.banner-text-box {
    padding: 2rem;
}

.banner-image {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
}

/* Footer Styles */
footer {
    background-color: #000; 
}

.social-links i {
    transition: color 0.3s;
}

.social-links a:hover i {
    color: #acdbdc;
}

.page-links a:hover {
    color: #acdbdc; 
}

/* Headings in Footer */
footer h2, footer h3 {
    font-weight: bold;
}

footer h3 {
    border-bottom: 1.5px solid;
    padding-bottom: 10px;
}

/* Footer Links */
footer a:hover {
    color: #acdbdc;
}

/* Login page styles */
.form-container {
    background-color: #fffef3; 
    border: 2px solid #161616; 
}

/* About Us page styles */
.about-us-box {
    max-width: 360px; 
    height: 585px;
    display: inline-block; 
    vertical-align: top;
    border: 1.5px solid #c6c6c6; 
    padding: 20px;
    margin: 10px; 
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4); 
    border-radius: 8px; 
    text-align: center;
}

.about-box-1 {
    background: rgba(237, 206, 219, 0.6);
    margin-right: 20px;
}

.about-box-2 {
    background: rgba(176, 189, 216, 0.3);
    margin-right: 20px;
}

.about-box-3 {
    background: rgba(255, 236, 232, 0.8);
    margin-right: 20px;
}

.about-us-box img.box-image {
    width: 100%; 
    height: auto; 
    max-height: 500px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px; 
}

.about-us-box h2 {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
}

.about-us-box p {
    font-size: 1rem; 
}

/* Product page styles */
.wine-item {
    position: relative;
    overflow: hidden;
}

/* Hide wine info section initially using opacitiy */
.wine-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Reveal item info section */
.wine-item:hover .wine-info {
    opacity: 1;
}

.card-body {
    position: relative;
    z-index: 1;
}

/* Hide filter options dropdowns initially */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 270px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sort-dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show dropdown content when dropdown is hovered */
.dropdown-content.show {
    display: block;
}

.sort-dropdown-content.show {
    display: block;
}

.dropdown-btn {
    width: 120px;
}

@media (max-width: 992px) {
    footer .col-lg-4 {
        text-align: center;
    }
}
